

/* Reset básico */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Corpo */
body {
  background-color: var(--color-bg);
  font-family: "Secular One", sans-serif;
  color: var(--color-text-title);
  overflow-x: hidden;
}